---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Focusly | Focus deeper. Achieve more.">
  <main>
    <Hero />
    <Showcase />
    <Features />
    <HowItWorks />
    <CTA />
  </main>
  <Footer />
</Layout>
